.header {
  display: grid;
  grid-template-columns: 239fr auto 237fr;
  font-size: 18px;
  padding: 92px 50px 96px;
  min-height: 293px;
}

.header__menu {
  padding-top: 41px;
}

.header__links-list {
  display: flex;
  column-gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  width: 148px;
}

.address {
  display: flex;
  flex-direction: column;
  line-height: 1.35;
  max-width: 240px;
  font-style: normal;
  align-items: start;
  padding-top: 3px;
}

.header__address {
  justify-self: end;
}